.dropzone{
    border: 3px dashed #8876f8;
    margin-bottom: 20px;
}
#upload,#cancel{
    margin-right: 10px;
    padding: 8px 30px;
    font-size: 1em;
    
}
#infoMessage{
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
}
.dz-message{
    font-family: Oxygen;
    font-size: 1em;
}